Source: qtdoc-opensource-src
Section: doc
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           Sune Vuorela <debian@pusling.com>,
           Pino Toscano <pino@debian.org>,
           Lisandro Damián Nicanor Pérez Meyer <lisandro@debian.org>,
           Timo Jyrinki <timo@debian.org>
Build-Depends: debhelper (>= 9),
               dpkg-dev (>= 1.16.1),
               qt5-default,
               qtbase5-dev-tools,
               qttools5-dev-tools,
               libqt5sql5-sqlite
Standards-Version: 3.9.4
Homepage: http://qt-project.org/

Package: qt5-doc
Architecture: all
Depends: ${misc:Depends}
Suggests: qtbase5-dev, qttools5-dev-tools
Description: Qt 5 API Documentation
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 Qt Documentation contains the offline documentation for Qt 5.
 This package contains the complete Qt 5 API documentation (new help format).
 .
 The documentation is provided in the new help format and manpage format;
 the new help format version can be viewed in conjunction with the Qt Assistant
 found in the qt4-dev-tools package.

Package: qt5-doc-html
Architecture: all
Depends: ${misc:Depends}
Suggests: qtbase5-dev, qttools5-dev-tools, w3m | www-browser | x-www-browser
Description: Qt 4 API documentation (HTML format)
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the complete Qt 4 API documentation (HTML format).
 .
 The documentation is provided in HTML format.

