#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export CFLAGS := $(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
export CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)
export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed
export QT_VER := 5.0
export QT_VERSION := 5.0.2
export QT_VERSION_TAG := 502

%:
	dh $@ --list-missing --parallel

override_dh_auto_configure:
	qmake

override_dh_auto_build:
	dh_auto_build -Smakefile -- docs

override_dh_auto_install:
	# Remove bogus exec bits from some data files in mkspecs, docs, examples
	# and demos
	find doc/ \
		-perm /u+x,g+x,o+x -type f \
		-regex '.*\.\(app\|conf\|cpp\|h\|js\|php\|png\|pro\|xml\|xsl\)$$' \
		-exec chmod a-x {} \;

	dh_auto_install

override_dh_installdocs:
	dh_installdocs --all LGPL_EXCEPTION.txt

override_dh_builddeb:
	# Do not compress the non-html packages with XZ, since the qdoc files
	# are sqlite3 DBs
	dh_builddeb $(addprefix -p,$(filter %-doc,$(shell dh_listpackages)))
	dh_builddeb --remaining-packages -- -Zxz
